# Ecommerce App Credentials
USER_EMAIL=anshika@gmail.com
USER_PASSWORD=Iamking@000

# Base URLs
BASE_URL=https://rahulshettyacademy.com/client
API_URL=https://rahulshettyacademy.com/api/ecom
PRACTICE_URL=https://rahulshettyacademy.com/loginpagePractise/

# Environment: qa | staging
ENV=qa
